{% extends 'base-forms.html' %}


{% block content %}
   <div class="container">
        <div class="col-md-6 offset-md-3">
            <form action="{{url_for('login')}}" method="POST">
                {{form.csrf_token}}
                <div class="form-group">

                    <div class="form-group">
                        <label for="exampleInputEmail1">Nome completo:</label>
                        <input name='user' style=" border-radius: 0;border-color: #5A90FB;height: 52px" type="text"
                            class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name='name'>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">senmh</label>
                        <input name='senha' style=" border-radius: 0;border-color: #5A90FB;height: 52px" type="password"
                            class="form-control" id="exampleInputE


                    <label for="exampleInputEmail1">Email:</label>
                    {{form.username(class="form-control", placeholder="Digite seu usuário")}}
                    {% if form.errors.username %}
                    <div class="alert alert-warning" role="alert">
                        O usuário e senha devem ser válidos!
                      </div>
                    {% endif%}
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Senha:</label>
                    {{form.password(class="form-control", placeholder="Digite sua senha")}}
                        {% if form.errors.password %}
                    <div class="alert alert-warning" role="alert">
                        O usuário e senha devem ser válidos!
                      </div>
                    {% endif%}
            </div>
        </div>
        <div class="col-md-6 offset-md-3">
         <div class="form-group">             
             <button type="button" class="btn btn-link" style="font-size: 22px;">Esqueci minha senha</button>
            <button type="submit" class="btn btn-primary"
                style="font-size: 22px;width: 270px;
                height: 50px;  border-radius: 0; background-color: #5A90FB; border-color: #5A90FB;">Login</button>
    </div>
</div>
</div>

{% endblock %}
 